@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

#map{
    height: 90%;
    max-height: 1000px;
    aspect-ratio: 16/9;
}

.container{
    .mapContainer{
        height: 90vh;
    }
}