.container-fluid{
    height: 100vh;
    .firstRow{
        height: 20vh;
        background-color: #000000;
        i{
            color: white;
        }
        i::before{
            font-size: 7vh !important;
        }
        .profile{
            background-color: #fff;
            height: 45%;
            aspect-ratio: 1/1;
            font-size: 5vh;
        }
        .notificationBell{
            width: 5vh;
            aspect-ratio: 1/1;
        }
    }
    .secondRow{
        height: 80vh;
        .leftNavBar{
            background-color: #000000;
            a{
                color: white;
                font-size: 3vh !important;
            }
            .logoutButton{
                color: red;
            }
        }
    }
    .mobileRow{
        .leftNavBar{
            background-color: #000000;
            a{
                color: white;
                font-size: 3vh !important;
            }
            .logoutButton{
                color: red;
            }
        }
    }
}